<li><a href="#document-history">Document History</a>
    <ul class="nav nav-stacked">
        <li><a href="#v3.0.1">v3.0.1</a></li>
        <li><a href="#v3.1.0">v3.1.0</a></li>
    </ul>
</li>
<li><a href="#developer-resources">Developer Resources</a></li>
<li><a href="#welcome">Welcome</a>
    <ul class="nav nav-stacked">
        <li><a href="#how-to-get-help">How to Get Help</a></li>
        <li><a href="#next-steps">Next Steps</a></li>
    </ul>
</li>
<li><a href="#overview">Overview</a>
    <ul class="nav nav-stacked">
        <li><a href="#paybreak-process">PayBreak Process</a></li>
        <li><a href="#integration-types">Integration Types</a></li>
        <li><a href="#test-environment">Test Environment</a></li>
        <li><a href="#integration-checklist">Integration Checklist</a></li>
    </ul>
</li>
<li><a href="#merchant-back-office">Merchant Back Office</a>
    <ul class="nav nav-stacked">
        <li><a href="#managing-your-account">Managing Your Account</a></li>
        <li><a href="#installation-setup">Installation Setup</a></li>
        <li><a href="#multiple-installations">Multiple Installations</a></li>
    </ul>
</li>
<li><a href="#loan-request">Loan Request</a>
    <ul class="nav nav-stacked">
        <!--<li><a href="#simple-loan-request:-checkout_type-1">Simple Loan Request: checkout_type 1</a></li>-->
        <!--<li><a href="#extended-loan-request:-checkout_type-2">Extended Loan Request: checkout_type 2</a></li>-->
        <li><a href="#additional-data">Additional Data</a></li>
        <li><a href="#additional-features">Additional Features</a></li>
    </ul>
</li>
<li><a href="#returning-to-your-website">Returning to Your Website</a></li>
<li><a href="#notification-service">Notification Service</a>
    <ul class="nav nav-stacked">
        <li><a href="#notification-types-list">Notification Types List</a></li>
        <li><a href="#custom-types">Custom Types</a></li>
        <li><a href="#type:-order-status">Type: Order Status</a></li>
        <li><a href="#type:-settlement-report">Type: Settlement Report</a></li>
    </ul>
</li>
<li><a href="#merchant-api">Merchant API</a>
    <ul class="nav nav-stacked">
        <li><a href="#using-the-api">Using the API</a></li>
        <li><a href="#fulfilment-actions">Fulfilment Actions</a></li>
        <li><a href="#finance-actions">Finance Actions</a></li>
    </ul>
</li>
