<a href="#afforditnow-api">AffordItNOW API</a>

<ul class="nav nav-stacked">
    <li><a href="#introduction">Introduction</a></li>
    <li><a href="#authentication">Authentication</a></li>
    <li><a href="#errors">Errors</a></li>
    <li><a href="#pagination">Pagination</a></li>
    <li><a href="#versioning">Versioning</a><ul class="nav nav-stacked">
        <li><a href="#changes-we-consider-to-be-backwards-compatible">Changes we Consider to be Backwards-Compatible</a></li>
    </ul></li>
    <li><a href="#upgrade-guide">Upgrade Guide</a></li>
        <!-- <li><a href="#upgrading-from-v3.0.*-to-v4.0.0">Upgrading from v3.0.* to v4.0.0</a></li> -->
</ul>

<a href="#afforditnow-methods">AffordItNOW Methods</a>

<ul class="nav nav-stacked">
    <li><a href="#merchant">Merchant</a>
        <ul class="nav nav-stacked">
            <li><a href="#get-the-authenticated-merchant">Get the Authenticated Merchant</a></li>
        </ul>
        </li>
    <li><a href="#applications">Applications</a>
        <ul class="nav nav-stacked">
            <li><a href="#initialize-an-application">Initialize an Application</a></li>
            <li><a href="#get-an-application">Get an Application</a></li>
            <li><a href="#fulfil-an-application">Fulfil an Application</a></li>
            <li><a href="#request-the-cancellation-of-an-application">Request the Cancellation of an Application</a></li>
        </ul>
    </li>
    <li><a href="#installations">Installations</a>
        <ul class="nav nav-stacked">
            <li><a href="#get-installations">Get Installations</a></li>
            <li><a href="#get-an-installation">Get an Installation</a>
            <!-- <li><a href="#get-the-installation&#39;s-ip-addresses">Get the Installation&#39;s IP Addresses</a></li> -->
            <!-- <li><a href="#get-an-installation&#39;s-ip-address">Get an Installation&#39;s IP Address</a></li> -->
            <!-- <li><a href="#create-an-installation&#39;s-ip-address">Create an Installation&#39;s IP Address</a></li> -->
            <!-- <li><a href="#delete-an-installation&#39;s-ip-address">Delete an Installation&#39;s IP Address</a></li> -->
        </ul>
    </li>
    <li><a href="#products">Products</a>
        <ul class="nav nav-stacked">
            <li><a href="#get-product-groups-for-an-installation">Get Product Groups for an Installation</a></li>
            <li><a href="#get-a-product-group-for-an-installation">Get a Product Group for an Installation</a></li>
            <li><a href="#get-products-for-an-installation">Get Products for an Installation</a></li>
            <li><a href="#get-product-for-an-installation">Get Product for an Installation</a></li>
            <li><a href="#get-credit-information-for-a-product">Get Credit Information for a Product</a></li>
        </ul>
    </li>
    <li><a href="#messages">Messages</a>
        <ul class="nav nav-stacked">
            <li><a href="#receive-message">Receive Message</a></li>
            <li><a href="#delete-message">Delete Message</a></li>
        </ul>
    </li>
</ul>
