<a href="#api">API</a>

<ul class="nav nav-stacked">
    <li><a href="#introduction">Introduction</a>
        <ul class="nav nav-stacked">
            <li><a href="#curl-example">cURL Example</a></li>
        </ul>
    </li>
    <li><a href="#authentication">Authentication</a></li>
    <li><a href="#errors">Errors</a></li>
    <li><a href="#response-format">Response Format</a></li>
    <li><a href="#versioning">Versioning</a>
        <ul class="nav nav-stacked">
            <li><a href="#changes-we-consider-to-be-backwards-compatible">Changes we Consider to be Backwards Compatible</a></li>
            <li><a href="#change-log">Change Log</a></li>
        </ul>
    </li>
    <li><a href="#objects">Objects</a>
        <ul class="nav nav-stacked">
            <li><a href="#address">Address</a></li>
            <li><a href="#applicant">Applicant</a></li>
            <li><a href="#order">Order</a></li>
            <li><a href="#product-range">Product Range</a></li>
            <li><a href="#fulfilment">Fulfilment</a></li>
            <li><a href="#promotional">Promotional</a></li>
            <li><a href="#transaction">Transaction</a></li>
        </ul>
    </ul>
</ul>

<a href="#methods">Methods</a>

<ul class="nav nav-stacked">
    <li><a href="#merchant">Merchant</a>
        <ul class="nav nav-stacked">
            <li><a href="#get-the-authenticated-merchant">Get the Authenticated Merchant</a></li>
            <li><a href="#get-the-merchants-ip-addresses">Get the Merchant's IP Addresses</a></li>
            <li><a href="#add-an-merchants-ip-address">Add an Merchant's IP Address</a></li>
            <li><a href="#delete-an-merchants-ip-address">Delete an Merchant's IP Address</a></li>
        </ul>
    </li>
    <li><a href="#applications">Applications</a>
        <ul class="nav nav-stacked">
            <li><a href="#initialize-an-application">Initialize an Application</a></li>
            <li><a href="#list-applications">List Applications</a></li>
            <li><a href="#get-an-application">Get an Application</a></li>
            <li><a href="#fulfil-an-application">Fulfil an Application</a></li>
            <li><a href="#request-the-cancellation-of-an-application">Request the Cancellation of an Application</a></li>
            <li><a href="#request-a-partial-refund-of-an-application">Request a Partial Refund of an Application</a></li>
            <li><a href="#get-credit-information-for-an-application">Get Credit Information for an Application</a></li>
            <li><a href="#get-pre-agreement-pdf-of-an-application">Get Pre-agreement PDF of an Application</a></li>
            <li><a href="#get-agreement-pdf-of-an-application">Get Agreement PDF of an Application</a></li>
            <li><a href="#add-payment">Add Payment to an Application</a></li>
            <li><a href="#list-payments">List Payments for an Application</a></li>
        </ul>
    </li>
    <li><a href="#installations">Installations</a>
        <ul class="nav nav-stacked">
            <li><a href="#get-installations">Get Installations</a></li>
            <li><a href="#get-an-installation">Get an Installation</a></li>
            <li><a href="#update-an-installation">Update an Installation</a></li>
            <li><a href="#get-credit-information-for-an-installation">Get Credit Information for an Installation</a></li>
        </ul>
    </li>
    <li><a href="#batch-payments">Batch Payments</a>
    </li>
    <li><a href="#customer-intelligence">Customer Intelligence</a>
        <ul class="nav nav-stacked">
            <li><a href="#get-advice-on-a-lead">Get advice on a Lead</a></li>
            <li><a href="#pre-approval-for-an-applicant">Pre Approval for an Applicant</a></li>
            <li><a href="#fetch-lead-score">Fetch a lead score</a></li>
            <li><a href="#fetch-lead-scores">Fetch lead scores</a></li>
            <li><a href="#fetch-pre-approval">Fetch a pre-approval</a></li>
            <li><a href="#fetch-pre-approvals">fetch pre-approvals</a></li>
        </ul>
    </li>
    <li><a href="#products">Products</a>
        <ul class="nav nav-stacked">
            <li><a href="#list-product-groups">List Product Groups</a></li>
            <li><a href="#get-a-product-group">Get a Product Group</a></li>
            <li><a href="#list-products">List Products</a></li>
            <li><a href="#get-a-product">Get a Product</a></li>
            <li><a href="#get-credit-information-for-a-product">Get Credit Information for a Product</a></li>
            <li><a href="#set-product-order">Set Product Order</a></li>
        </ul>
    </li>
    <li><a href="#settlements">Settlements</a>
        <ul class="nav nav-stacked">
            <li><a href="#list-settlement-reports">List Settlement Reports</a></li>
            <li><a href="#get-a-settlement-report">Get a Settlement Report</a></li>
            <li><a href="#get-aggregate-settlement-reports-for-period">Get aggregate Settlement Reports for period</a></li>
            <li><a href="#list-settlements">List Settlements</a></li>
            <li><a href="#get-a-settlement">Get a Settlement</a></li>
        </ul>
    </li>
    <li><a href="#partial-refunds">Partial Refunds</a>
        <ul class="nav nav-stacked">
            <li><a href="#list-partial-refunds">List Partial Refunds</a></li>
            <li><a href="#get-a-partial-refund">Get a Partial Refund</a></li>
        </ul>
    </li>
    <li><a href="#dictionaries">Dictionaries</a>
        <ul class="nav nav-stacked">
            <li><a href="#employment-statuses">List Employment Statuses</a></li>
            <li><a href="#marital">List Marital Statuses</a></li>
            <li><a href="#residential">List Residential Statuses</a></li>
        </ul>
    </li>
    <li><a href="#system-calls">System Calls</a>
        <ul class="nav nav-stacked">
            <li><a href="#get-notification-server-addresses">Get Notification Server Addresses</a></li>
        </ul>
    </li>
</ul>

<a href="#reference">Reference</a>

<ul class="nav nav-stacked">
    <li><a href="#glossary">Glossary</a>
</ul>
