---
layout: base
---
<div class="row">

    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
            <strong>Warning!</strong> This is the integration guide for v3
            integrations which has been deprecated.
            <a href="{{ site.baseurl }}/">View the latest version!</a>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-md-8">

        <header>
            <h1>Retailer Integration Guide <small>v3.0.2</small></h1>
        </header>

        {{ content | replace:'<table>','<table class="table table-bordered">' }}

    </div>

    <div class="col-md-4">

        <nav class="col-xs-3 bs-docs-sidebar">
            <ul id="sidebar" class="nav nav-stacked fixed">
                {% include v3/toc.html %}
            </ul>
        </nav>

    </div>

</div>
